<div class="mb-18 mx-auto max-w-3xl flex flex-row justify-between items-center">
  <div id="footer-col-1">
    <a class="text-sky-900 dark:text-sky-200 dwr-font-sans-serif font-extralight hover:underline"
       href="mailto:peter@dragonwasrobot.com">
      <span>peter@dragonwasrobot.com</span>
      <i class="fa-regular fa-envelope"></i>
    </a>
  </div>

  <div id="footer-col-2">
    <a href="https://github.com/dragonwasrobot"
       class="text-sky-900 dark:text-sky-200 dwr-font-sans-serif font-extralight hover:underline">
      <span class="username">dragonwasrobot</span>
      <i class="fa-brands fa-github-alt"></i>
    </a>
  </div>

  <div id="footer-col-3">
    <span class="text-neutral-400 dark:text-sky-100 dwr-font-sans-serif font-extralight">Will manipulate state machines for food</span>
  </div>
</div>
