<div class="mb-18 mx-auto max-w-3xl flex basis-0 flex-row justify-between items-center">
  <div id="footer-col-1">
    <a href="https://github.com/dragonwasrobot"
       class="text-sky-900 dark:text-sky-200 dwr-font-sans-serif font-extralight">
      <span class="hover:underline">dragonwasrobot</span>
      <i class="fa-brands fa-github-alt"></i>
    </a>
  </div>

  <div id="footer-col-2">
    <a class="text-sky-900 dark:text-sky-200 dwr-font-sans-serif font-extralight"
       href="mailto:peter@dragonwasrobot.com">
      <span class="hover:underline">peter@dragonwasrobot.com</span>
      <i class="fa-regular fa-envelope"></i>
    </a>
  </div>

  <div id="footer-col-3">
    <a href="https://www.linkedin.com/in/peterurbak/"
       class="text-sky-900 dark:text-sky-200 dwr-font-sans-serif font-extralight">
      <span class="hover:underline">peterurbak</span>
      <i class="fa-brands fa-linkedin"></i>
    </a>
  </div>
</div>
