<div class="mb-8 md:mb-18 mx-auto max-w-3xl flex basis-0 flex-col gap-4 md:flex-row justify-between items-center">
  <div id="footer-github">
    <a href="https://github.com/dragonwasrobot"
       class="text-syd7 dark:text-nord7 dwr-font-sans-serif font-extralight">
      <span class="hover:underline">dragonwasrobot</span>
      <i class="fa-brands fa-github-alt"></i>
    </a>
  </div>

  <div id="footer-email">
    <a class="text-syd7 dark:text-nord7 dwr-font-sans-serif font-extralight"
       href="mailto:peter@dragonwasrobot.com">
      <span class="hover:underline">peter@dragonwasrobot.com</span>
      <i class="fa-regular fa-envelope"></i>
    </a>
  </div>

  <div id="footer-linkedin">
    <a href="https://www.linkedin.com/in/peterurbak/"
       class="text-syd7 dark:text-nord7 dwr-font-sans-serif font-extralight">
      <span class="hover:underline">peterurbak</span>
      <i class="fa-brands fa-linkedin"></i>
    </a>
  </div>
</div>
