{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

<nav class="">
{{- with index site.Menus $menuID }}
    {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
{{- end }}
  {{ partial "/inline/menu/dark-theme.html" . }}
</nav>

{{- define "_partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL "class" "mx-3 dwr-font-sans-serif font-extralight hover:underline" }}

    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "mx-3 dwr-font-sans-serif hover:underline active"
                                      "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "mx-3 dwr-font-sans-serif font-extralight hover:underline ancestor" "aria-current" "true") }}
    {{- end }}

    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
      {{- with .Children }}
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
      {{- end }}
  {{- end }}
{{- end }}

{{- define "_partials/inline/menu/dark-theme.html" }}
<div id="theme-toggle-wrapper"
     class="inline-block">

  <input id="theme-toggle"
         type="checkbox"
         class="theme-toggle">

  <label for="theme-toggle"
         class="theme-toggle-label">
    <i class="fas fa-moon"></i>
    <i class="fas fa-sun"></i>
    <span class="toggle-ball"></span>
  </label>

</div>
{{- end }}
