@import "tailwindcss";
@import "./theme.css";

/* Utilities */

@utility dwr-font-sans-serif {
  font-family: system-ui;
  line-height: 1.5em;
}

@utility dwr-font-serif {
  font-family: "PT Serif", -apple-system, serif;
}

@utility dwr-font-fixed {
  font-family: "Fira Code", monospace;
}

/* * Elements */

.preload * {
  /* Stops transition animations from playing during page load */
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

body {
  @apply dwr-font-serif;

  @apply text-stone-900;
  @apply dark:text-slate-100;
}

section.category-group {
  @apply bg-syd12/40;
  @apply dark:bg-nord19/20;

  @apply rounded-sm;
  @apply py-4;
  @apply px-6;
  @apply mt-5;
}

/* ** Links */

main a {
  @apply text-syd7;
  @apply dark:text-nord7;
}

footer a {
  @apply text-syd7;
  @apply dark:text-nord7;
}

/* ** Paragraphs */

p {
  @apply mb-4;
}

/* ** Lists */

ol, ul {
  @apply mb-4;
  @apply px-8;
}

ol {
  @apply list-decimal;
}

ul {
  @apply list-disc;
}

li {
  @apply mt-1;
}

/* ** Headings */

h1, h2, h3, h4, h5, h6 {
  @apply dwr-font-sans-serif;
  @apply font-extralight;
}

h1, h2, h3 {
  @apply mb-4;
}

h4 {
  margin-top: 0px;
}

h1 {
  @apply text-4xl tracking-tight whitespace-pre-line;
}

h2 {
  @apply text-2xl tracking-tight whitespace-pre-line;
}

h3 {
  @apply text-xl tracking-tight whitespace-pre-line;
}

/* ** Footnotes */

div.footnotes {

  hr {
    @apply text-syd2;
    @apply dark:text-nord5;
  }

  ol {
    @apply mt-4;
  }

}

/* ** Tags */

div#tags {
  display: none;
}

/* ** MathJax */

mjx-math .faint {
  @apply text-stone-300;
  @apply dark:text-slate-600;
}


/* ** Light/Dark theme toggle */

.theme-toggle {
  @apply opacity-0;
  @apply absolute;
}

.theme-toggle-label {
  @apply relative;
  @apply bg-nord1;
  @apply dark:bg-neutral-50;
  @apply cursor-pointer;
  @apply flex;
  @apply items-center;
  @apply justify-between;

  transition: transform 0.2s linear;

  /* pixel-pushing */
  width: 50px;
  height: 26px;
  border-radius: 50px;
  padding: 5px;
}

.fa-moon {
  @apply text-yellow-400;
}

.fa-sun {
  @apply text-amber-600;
}

.theme-toggle-label .toggle-ball {
  @apply absolute;
  @apply bg-gray-100;
  @apply dark:bg-nord1;

  transition: transform 0.2s linear;

  /* pixel-pushing */
  width: 22px;
  height: 22px;
  left: 2px;
  top: 2px;
  border-radius: 50%;
}

.theme-toggle:checked + .theme-toggle-label .toggle-ball {
  transform: translateX(24px);
}
