<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="preload bg-neutral-50 dark:bg-nord1">
  <header class="relative border-solid border-b-1 border-syd2 dark:border-nord5">
    {{ partial "header.html" . }}
  </header>
  <main class="mt-8">
    {{ block "main" . }}{{ end }}
  </main>
  <footer class="mt-8 pt-4 border-solid border-t-1 border-syd2 dark:border-nord5">
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
