{{ define "main" }}

  <div id="page-content" class="mx-auto max-w-3xl">
  {{ .Content }}

  {{ $taxo := "categories" }}
  {{ with ($.Site.GetPage (printf "/%s" $taxo)) }}
    {{ range .Pages.ByWeight }}

    <section class="category-group">
      <h2>{{ .LinkTitle }}</h2>
      <div>{{ .Content }}</div>

      <h4>Posts</h4>
      <ul>
        {{ range .Pages.ByDate }}
        <li>
          <a href="{{ .Permalink }}">{{ replace .Title "&#x000a;" " " }}</a>
        </li>
        {{ end }}
      </ul>
    </section>
    {{ end }}
  {{ end }}

  {{ with .Site.GetPage "page" "projects.md" }}
  {{ .Content }}
  {{ end }}

  <div id="page-quote" class="mt-6 text-sm text-neutral-400 dark:text-slate-500">
    <em>"War is over. DRAGON was robot. He may come from star.</em><br/>
    <em>We regained our peace. People will be happy.</em><br/>
    <em>But, be careful more tests wait for you.</em><br/>
    <em>Bye! MONSTER LAND. So long."</em><br/>
    <strong>-- Ending credits, Wonderboy in Monsterland (Amiga 1989)</strong>
  </div>

{{ end }}
