/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}

.container-narrow > hr {
  margin: 30px 0;
}

.navbar .nav {
  float: right;
}

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px;
}

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em;
}

.post > .more {
  margin: 10px 0;
  text-align: left;
}

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold;
}

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden;
}

.tag_box li {
  line-height: 28px;
}

.tag_box li i {
  opacity: 0.9;
}

.tag_box.inline li {
  float: left;
}

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee8d5;
  color: #586e75;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cbc6d5;
}

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}

.tag_box a:hover {
  background-color: #cbc6d5;
}

.tag_box a.active {
  background: #859900;
  border: 1px solid #759900;
  color: #fdf6e3;
}

/* solarized corrections */

/*
SOLARIZED HEX      ROLE
--------- -------- ------------------------------------------
base01    #586e75  body text / default code / primary content
base1     #93a1a1  comments / secondary content
base3     #fdf6e3  background
orange    #cb4b16  constants
red       #dc322f  regex, special keywords
blue      #268bd2  reserved keywords
cyan      #2aa198  strings, numbers
green     #859900  operators, other keywords
*/

body {
  font-family: "Ovo";
  font-size: 16px;
  color: #586e75;
  line-height: 23px;
  background-color: #fdf6e3;
}

code, pre {
  background-color: #eee8d5;
  border: 1px solid #cbc6d5;
  font-family: "Cutive Mono";
  font-weight: 900;
  font-size: 14px;
  color: #dc322f;
}

pre {
  padding: 0.5em;
  margin: 0;
}

pre.lineno {
  color: #586e75;
}

td pre {
  border: none;
}

a {
  color: #268bd2;
}

.navbar-inner {
  background-image: -webkit-linear-gradient(top, #fdf6e3, #eee8d5);
}

.navbar .nav>li>a {
  text-shadow: 0 1px 0 #fdf6e3;
}

.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus {
  background-color: #eee8d5;
}

.pagination ul>li>a,
.pagination ul>li>span {
  background-color: #fdf6e3;
  border: 1px solid #cbc6d5;
}

.pagination ul>li>a:hover,
.pagination ul>.active>a,
.pagination ul>.active>span {
  background-color: #eee8d5;
  color: #268bd2;
}

li {
  line-height: 23px;
}

hr {
  border-top: 1px solid #cbc6d5;
  border-bottom: 1px solid #fdf6e3;
}

.page-header {
  border-bottom: 1px solid #cbc6d5;
}

::selection {
  background: #ff5e99;
  color: #ffffff;
}
